/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page .theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

:root .theme_light {
  /* Переменные светлой темы */
  --header-text-color: #ffc2e6;
  /*Тень текста header не изменяется*/
  --chapter-text-color: #353430;
  --accent-text-color: #353430;
  --main-text-color: #353430;
  --background-accent-text-color: #ff8dcb;
  --background-color: #fff1f7;
  --background-image: url(../images/cover-image-light.png);
  --rec-visible: hidden;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --header-text-color: #ffc2e6;
    --background-color: #fff1f7;
    --chapter-text-color: #353430;
    --accent-text-color: #353430;
    --main-text-color: #353430;
    --background-accent-text-color: #ff8dcb;
    --background-image: url(../images/cover-image-light.png);
    --rec-visible: hidden;
  }
}
