/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/*Цвета текстов*/
:root {
  --header-text-color: #DB00FF;
  /*Тень текста header не изменяется*/
  --chapter-text-color: #FF0070;
  --accent-text-color: #000028;
  --main-text-color: #F1B2CE;
  --background-accent-text-color: #FF0070;
  --text-size: 18px;
  --main-font: "IBM Plex mono", sans-serif;
  --main-weight:  normal;
  --accent-weight: bold;
  --background-image: url(../images/cover-image-dark.png);
  --rec-visible: inherit;
  --header-text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --min-header-height: 668px;
  --header-padding: 10px;
  --about-width: 100%;
  --grid-rows:auto 238px 192px 238px;
}

@media (min-width: 768px) {
  :root {
    --header-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --min-header-height: 1024px;
    --header-padding: 20px;
    --about-width: calc(50% + var(--header-padding));
    --grid-rows:auto 462px 99px 462px;
  }
}

@media (min-width: 1024px) {
  :root {
    --header-text-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    --min-header-height: 757px;
    --header-padding: 20px;
    --about-width: calc(50% + var(--header-padding));
    --grid-rows:auto 319px 130px 319px;
  }
}